@page
@model Sneaker_Store.Pages.common.OrderConfirmModel

<!DOCTYPE html>
<html>
<head>
    <title>Order Konfirmation</title>
</head>
<body>
<h1>Ordre Bekræftelse</h1>
<p>Order ID: @Model.OrderId</p>
<p>Navn: @Model.CustomerName</p>
<p>Email: @Model.CustomerEmail</p>
    
<h2>Købte Sko</h2>
@if (Model.PurchasedShoes != null && Model.PurchasedShoes.Any())
{
    <table>
        <thead>
        <tr>
            <th> </th>
            <th>Mærke</th>
            <th></th>
            <th>Str.</th>
            <th>Pris</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sko in Model.PurchasedShoes)
        {
            <tr>
                <td><img src="@sko.ImageUrl" alt="@sko.Model" width="100" /></td>
                <td>@sko.Maerke</td>
                <td>@sko.Model</td>
                <td>@(sko.Str.HasValue ? sko.Str.ToString() : "N/A")</td>
                <td>@sko.Pris.ToString("C")</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Du har endnu ikke oprettet en ordre </p>
}
</body>
</html>