@page
@model Sneaker_Store.Pages.common.OrderConfirmModel

<p>Tak for dit køb!</p>

<!DOCTYPE html>
<html>
<head>
    <title>Bekræftelse af ordre</title>
</head>
<body>
<h1>Bekræftelse af ordre</h1>
<p>Ordre ID: @Model.OrderId</p>
<p>Kundenavn: @Model.CustomerName</p>
<p>Email: @Model.CustomerEmail</p>
<p>Antal sko: @Model.TotalItems</p>
<p>Total pris: @Model.TotalPrice</p>
<p>Tilbage til hjem</p>
</body>
</html>