@page
@model Sneaker_Store.Pages.common.OrderConfirmModel

<h2>Order Confirmation</h2>

<p>Thank you for your purchase!</p>

<p>Order ID: @Model.OrderId</p>
<p>Customer Name: @Model.CustomerName</p>
<p>Email: @Model.CustomerEmail</p>
<p>Amount of Shoes: @Model.TotalItems</p>
<p>Total Price: @Model.TotalPrice</p>

<a href="/Index">Back to Home</a>